.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  border-radius: 9999px;
  width: 510px;
  height: 40px;
  padding: 0 16px;
  background-color: white;
  margin-right: 50px;
}

.input {
  font-size: 16px;
  font-weight: 400;
  width: 450px;
  border: none;
  outline: none;
}

.search_svg {
  width: 16px;
  height: 16px;
  background-image: url("../../../assets/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.delete_svg {
  border: none;
  background-color: white;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-image: url("../../../assets/X.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
