.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 42px;
}

.list__elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.number {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  color: var(--header-text-color);
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-text-color);
}

.statistic_preloader{
  width: 35px;
  height: 35px;
  background-image: url(../../../assets/preloader.svg);
  background-size: contain;
  background-repeat: no-repeat;
  animation: s_preloader 1.5s linear infinite;
}

@keyframes s_preloader{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}