.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preloader{
    width: 150px;
    height: 150px;
    background-image: url(./assets/preloader.svg);
    background-size: contain;
    background-repeat: no-repeat;
    animation: preloader 1.5s linear infinite;
}

@keyframes preloader{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}